@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #d7d7d7;
    --tone: #4b5563;
  }
}

@media only screen and (max-width: 800px) {
  .postsContainer {
    min-width: 100%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}

.postsContainer {
  width: 50%;
}
